<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OFM4MGL.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <OFM4MGL.My.MySettings>
            <setting name="TilesPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="MapsPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="idxPrimaryTMS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="idxColors" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nColors" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="PrimaryTmsURL" serializeAs="String">
                <value>https://snapshots.openflightmaps.org/live/{AIRAC}/tiles/world/noninteractive/epsg3857/merged/512/latest/</value>
            </setting>
            <setting name="TileSize" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="MaxDownloads" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="TLLat" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="TLLon" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="BRLat" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="BRLon" serializeAs="String">
                <value>18</value>
            </setting>
        </OFM4MGL.My.MySettings>
    </userSettings>
</configuration>
